@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Space Grotesk', sans-serif;
}

body{
  background-color: black;
}

/* Header stuff */

.Header{
  width: 100vw;
  height : 20vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Header p{
  font-size: .5em;
}

.Header h1{
  height: fit-content;
}

/* Banner stuff */

.Banner{
  position: relative;
  width: 100vw;
  height: 80vh;
  background-image: url('assets/ttool.jpg'); 
  background-size: 100% auto;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.Banner::before {
  width: 100vw;
  min-height: 80vh;
  height:inherit;
  content: "";
  position: absolute;
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.75);
}

.Banner .content{
  width: 65vw;
  color: white;
  z-index: 1;
}

.Banner .content h1{
  font-size: 4em;
  margin-top: 5vw;
  width: 70vw;
}

.Banner .content h2{
  max-width: 600px;
  width: 50vw;
  text-align: justify;
  font-size: 1.4em;
  margin-top: 5vw;
}

/* editor stuff */

.Editor{
  height: fit-content;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.Editor form{
  height:  75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@keyframes rgb{
  0% {
    box-shadow: 0px 0px 20px blueviolet;
  }
  50%{
    box-shadow: 0px 0px 20px rgb(71, 102, 255);
  }
  100% {
    box-shadow: 0px 0px 20px blueviolet;
  }
}

.Image{
  height: 500px;
  aspect-ratio: 0.65;
  background-image: url('assets/modifiable.png'); 
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
  animation: rgb 4s linear infinite;
}

.form-button{
  transition: all 0.4s;
  font-size: 1em;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  width: fit-content;
}

.form-button:hover{
  transition: all 0.4s;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

input[type="text"]{
  box-shadow: none;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1em;
  padding: 5px;
}

input:focus{
  outline: none;
}

.Image p{
  font-size: 0.93em;
}

.text1{
  position: relative;
  top: 110px;
  left: 83px;
}

.text2{
  position: relative;
  top: 399px;
  left: 100px;
}

/* Question and Answer component */

.QandA{
  width: fit-content;
  margin-bottom: 25px;
  width: 90vw;
}

.answer-wrapper{
  color: white;
  margin-top: 20px;
  overflow: hidden;
  height: fit-content;

  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.2s;
}

.answer-wrapper > div{
  overflow-y: hidden;
}

.open{
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.2s;
}

.QandA button{
  width: fit-content;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.QandA button:hover{
  cursor: pointer;
}

.QandA img{
  margin-left: 20px;
}


/* Tutorial component stuff */

.Tutorial{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}